.taskcontainer{
    width: 300px;
    height: 100px;
    border-radius: 25px;
    background-color:  #434554;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-sizing: content-box;
    box-shadow: rgba(111, 124, 242, 0.9) 0px 5px 15px;;
    
}
.tasktxt{
    align-items: left;
    margin: 5px;
}
.taskbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tasktitle{
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    margin: 3px;
    text-shadow:rgba(111, 124, 242, 0.9) 0px 1px 3px, rgba(111, 124, 242, 0.9) 0px 1px 2px;
}
.taskdescription{
    color: white;
    font-family: 'Antic';
    font-size: 1rem;
    margin: 2px;
}